<nav class="navbar navbar-light bg-{{primary}}">
  <div class="container"><span class="navbar-brand mb-0 h1 "><img src="./assets/AS.png" class="rounded float-left logo"
        alt="..."></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" href="/mal">MAL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/random">Random</a>
            </li>
          </ul>
        </div></div>
</nav>
